@using Online.Shopping.Store
@model Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this product: <em style="color:darkred">@Html.DisplayFor(model => model.ProductName)</em> ?</h3>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
