@{
    ViewBag.Title = "Printers";
}

<h2>Printers</h2>

<ul id="product-list">
    <li>
        <img src="~/Images/myimages/printers/p1.jpg" />
        @*<img src="~/Images/ProductPics/Arsenal Boys Track Top.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Printers", "All", "Printers")</h3>
    </li>
</ul>