@{
    ViewBag.Title = "Computers";
}

<h2>Computers</h2>

<ul id="product-list">
    <li>
        <img src="~/Images/myimages/tower/t1.jpg" />
        @*<img src="~/Images/ProductPics/Nike authentic N98 Jacket Blue.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Tower", "Tower", "Computers")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/deaktop/d1.jpg" height="205" />
        @*<img src="~/Images/ProductPics/Nike Training Top Red.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Desktop", "Desktop", "Computers")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/server/server.jpg" />
        @*<img src="~/Images/ProductPics/Nike Authentic GS Polo.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Server", "Server", "Computers")</h3>
    </li>
    
</ul>