@{
    ViewBag.Title = "Laptops";
}

<h2>Laptops</h2>

<ul id="product-list">
    <li>
        <img src="~/Images/myimages/hp/hp1.jpg" />
        @*<img src="~/Images/ProductPics/Adult Home Shirt SS.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("HP", "HP", "Laptops")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/dell/d1.jpg" />
       @* <img src="~/Images/ProductPics/Adult Away Shirt LS.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Dell", "Dell", "Laptops")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/acer/a1.jpg" />
        @*<img src="~/Images/ProductPics/Adult Goalkeeper Shirt.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Acer", "Acer", "Laptops")</h3>
    </li>
     <li>
         <img src="~/Images/myimages/minilaptops/download.jpg" />
        @*<img src="~/Images/ProductPics/Nike sideline Pant.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Minilaptops", "Minilaptops", "Computers")</h3>
    </li>
</ul>











